/**************************************
            DIGITS & KAUFMAN
**************************************/

/*
  Собираем вместе общие
  стили для обоих блоков
*/

.section-title {
  margin: 0;
  padding: 0 0 20px 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/*
  Небольшие корректировки
  для тёмной темы
*/

.section-title_theme_dark {
  z-index: 1;
}

.section-subtitle_theme_dark {
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  padding-top: 80px;
}

/*
  Маленький блок только для digits
*/

.digits {
  margin: 0;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  Парочка отдельно для kaufman
*/

.kaufman {
  color: #fff;
  margin: 0;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
}

/**************************************
              FEYNMAN
**************************************/

.feynman {
  margin: 0;
  padding: 100px 0 0 0;
  height: 790px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-position: bottom left;
  background-repeat: no-repeat;
}

.feynman__title {
  margin: 0;
  padding: 0 0 70px 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

/******************************************************************************
                                      FOOTER
******************************************************************************/

.footer {
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  color: #fff;
}

.footer__columns {
  padding-top: 60px;
  padding-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 0;
  padding: 0 0 16px 0;
  list-style-type: none;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin: 0;
  padding: 0 10px 0 0;
  width: 16px;
  height: 16px;
}
